<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/style.css">
        <title>Barnes Painting</title>
    </head>

    <body>
         {{> _header}}
        <div class="container login-container">
            <div class="card">
                <div class="card-content">
                    {{{body}}}
                </div>
                
            </div> 
        </div>

        <div class="container-painting">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card" style="overflow: visible;">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/roof_before.JPG">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">After<i class="fas fa-angle-double-up"></i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Roof After<i class="material-icons right">close</i></span>
                            <img src="images/roof_after.JPG">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m4">
                    <div class="card" style="overflow: visible;">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/stairs_before.JPG">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">After<i class="fas fa-angle-double-up"></i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Stairs After<i class="material-icons right">close</i></span>
                            <img src="images/stairs_after.JPG">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m4">
                    <div class="card" style="overflow: visible;">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/roof_before.JPG">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">After<i class="fas fa-angle-double-up"></i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Roof After<i class="material-icons right">close</i></span>
                            <img src="images/roof_after.JPG">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m4">
                    <div class="card" style="overflow: visible;">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/stairs_before.JPG">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">After<i class="fas fa-angle-double-up"></i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Stairs After<i class="material-icons right">close</i></span>
                            <img src="images/stairs_after.JPG">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m4">
                    <div class="card" style="overflow: visible;">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/roof_before.JPG">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">After<i class="fas fa-angle-double-up"></i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Roof After<i class="material-icons right">close</i></span>
                            <img src="images/roof_after.JPG">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m4">
                    <div class="card" style="overflow: visible;">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/stairs_before.JPG">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">After<i class="fas fa-angle-double-up"></i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Stairs After<i class="material-icons right">close</i></span>
                            <img src="images/stairs_after.JPG">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="page-footer grey darken-3 white-text">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5>Footer Content</h5>
                <p >You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 >Contact Us</h5>
                <ul>
                  <li><h5><a href="https://www.facebook.com/melvin.barnes.779"><i class="fab fa-facebook"></i></a></h5></li>
                  <li><h5><a href="https://www.facebook.com/melvin.barnes.779"><i class="fab fa-instagram"></i></a></h5></li>
                  <li><h5><a href="https://www.facebook.com/melvin.barnes.779"><i class="fab fa-twitter"></i></a></h5></li>
                  <li><h5><i class="fas fa-phone "></i><a href="tel:+7734033242">(773) 403-3242</a></h5></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright grey darken-3 white-text">
            <div class="container">
            © 2014 Copyright Strafinity LLC
            </div>
          </div>
        </footer>
        
        
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
       <script>
           M.Sidenav.init(document.querySelector('.sidenav'))
           M.FormSelect.init(document.querySelector('#status'))
           CKEDITOR.replace('body',{
               plugins: 'wysiwygarea, toolbar, basicstyles, link'
           })
       </script>
    </body>
    
</html>